button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-decoration: none;
}
.line {
    display: inline-block;
}


#card:hover{
    background-color: #00000000;
}