.burgerMenu {
  background-color: #008080dd;
}

.burgerButton {
  background-color: #00808090;
  position: relative;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.burgerButtonContainer {
  background-color: black;
  position: relative;
  height: 4rem;
  width: 4rem;
}

.burgerMenuItem {
  padding-left: 0.5rem;
}

.submenu {
  color: black;
}
.submenu:hover {
  color: white;
}

.menu {
  padding-top: 0.5rem;
  text-decoration: underline;
}
