:root {
    
    --element-width: 0; 
    --element2-width: 0;
  }
@-webkit-keyframes animateSlider1 {
  from {width: 0}
  to {width: var(--element-width)}
  }
  
  /* Standard syntax */
  @keyframes animateSlider1 {
    from {width: 0}
    to {width: var(--element-width)}
  }
  .animateSlider1 {
    width: var(--element-width);
    -webkit-animation-name: animateSlider1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: animateSlider1;
    animation-duration: 4s;
    /* animation-iteration-count: 1; */
  }
  @-webkit-keyframes animateSlider2 {
    from {width: 0}
    to {width: var(--element2-width)}
    }
    
    /* Standard syntax */
    @keyframes animateSlider2 {
      from {width: 0}
      to {width: var(--element2-width)}
    }
    .animateSlider2 {
      width: var(--element2-width);
      -webkit-animation-name: animateSlider2; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      animation-name: animateSlider2;
      animation-duration: 4s;
      /* animation-iteration-count: 1; */
    }