:root {
    --element-open: paused
}

@-webkit-keyframes animatedArrow {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
    }
}


/* Standard syntax */

@keyframes animatedArrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.imageOpen {
    transform: rotate(0deg);
    -webkit-animation-name: animatedArrow;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: animatedArrow;
    animation-duration: 1s;
    animation-play-state: running;
    /* animation-iteration-count: 1; */
}

.imageClose {
    transform: rotate(90deg);
    -webkit-animation-name: animatedArrow;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: animatedArrow;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: reverse;
    /* animation-iteration-count: 1; */
}